
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;600&family=Poppins:wght@300;500;600&family=Prompt:wght@600&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  word-spacing: 1.3px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
  background-image: url("img/bg1.jpg");
  min-height: 92vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
header{
  color: rgba(255, 255, 255, 0.719);
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(75, 75, 75, 0.73);
  width: 100vw;
  padding: 25px 45px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  line-height: 1.8em;
}
header ul li{
  display: inline-block;
  list-style: none;
  margin-right: 10%;
}
.right{
  float: right;
}
.header{
  padding: 20px 20px;
  display: inline-block;
}
.header h4 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.4rem;
  
}
.app-main {
  min-height: 20vh;
  width: 40vw;
  margin: 7% auto;
  padding: 25px 25px;
  text-align: center;
  border-radius: 15px;
  backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(92, 92, 92, 0.57);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-bottom: 10%;
}
.app-main > * {
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  background: none;
  border: 2px solid white;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.7em;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  
}
.input-box::placeholder{
  color: rgba(255, 255, 255, 0.808);
  text-transform: capitalize;
  font-size: .6em;
}
.weather-body {
  color: #fff;
  padding: 20px;
  line-height: 2rem;
  border-radius: 10px;
  
  
}
.location-deatils {
  font-weight: bold;
}
.weather-status {
  padding: 20px;
}
.temp {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px 0px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}
.weather {
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.min-max {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}

.day_details {
  padding: 20px;
}
.sun-detail,
.basic {
  font-size: 1rem;
}
#weather-icon {
  color: black;
}
@media screen and (max-width: 1261px) {
  .app-main {
    width: 95vw;
    padding: 10px;
  }
  body {
    min-height: 94vh;
  }
}

@media screen and (max-width: 800px) {
  .app-main {
    width: 95%;
    padding: 20px;
    margin: 15% 2%;
  }
  body {
    min-height: 94vh;
  }
}

